/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  position: relative;
  width: 1280px;
  margin-top: 50px;
  margin: auto;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/

.header{
  width: 1280px;
  background-color: #F4F4F4;
  padding: 10px 0px;
  border: 1px solid black;
  position: fixed;

  top: 0px;
  

}

.header1{
  display: flex;
  justify-content: space-between;
  background-color: white;
  
}

.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
  padding-top: 5px;
}


.haeder-right{
  padding-right: 70px;
  padding-top: 5px;
}


/*---------------------------------메인-----------------------------*/
.main{
 background-color: #F4F4F4;
 height: 100vh;             
 border: 1px solid black;
 margin-top: 81px;
 width: 1280px;
}

.main-center{
  width: 90%;
  background-color: white;
  margin: 20px auto;
  height: 90%;           
  border-radius: 15px;
  display: flex;
  justify-content: center;
  
}
th {
  
  font-size: 20px;
  padding: 10px 50px;
}

td{
  text-align: center;
  padding-top: 30px;
}


/*---------------------------------푸터-----------------------------*/

.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;

  padding-top: 180px;
  height: 300px;

}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
  
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
  
}

