/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  width: 1280px;
  margin-top: 50px;
  margin: auto;
  position: relative;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/
.header{
  background-color: #F4F4F4;
  padding: 10px 0px;
  border: 1px solid black;
  border-bottom: none;  border-top: none;
  width: 0 auto;
 
}

.header1{
  background-color: #F4F4F4;
  display: flex;
  justify-content: center; /* 흰 박스 가로중앙 */
  align-items: center;   

}
.headerWhite{ /*가로 흰 박스 내부 가운데 정렬*/
  width: 1140px; height: 60px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
}

.header-right{ /*상단 우측 메뉴탭 여백*/
  padding-right: 70px;
  padding-top: 5px;
}
/*---------------------------------메인-----------------------------*/
.main{ 
 background-color: #F4F4F4;
 height: 80vh;               /*높이 알아서*/
 border-left: 1px solid black; 
 border-right: 1px solid black;
}

.box1 > h3{
  text-align: center;
  padding-top: 140px; padding-bottom: 80px;
  font-size: 30px;
}

.main-center{ /*흰 박스*/
  width: 90%;
  background-color: white;
  margin: 20px auto;
  height: 90%;           
  border-radius: 15px;
  text-align: center;
}
.ListIdBox, .ListPwdBox{ /* 아이디 비밀번호 칸 */
  display: grid;
  grid-template-columns: 120px 250px auto;
  align-items: center;
  gap: 10px;
  margin-left: 330px;
  margin-bottom: 30px;
}
 .box1 >button{ /* 로그인버튼 */
  padding: 10px;
}
.box1 > ul{ /* 하단 찾기버튼*/
  display: flex;
  justify-content: center;
  padding: 70px;
}
/*---------------------------------푸터-----------------------------*/
.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  border: 1px solid black;
  border-top: none;
  width: 0 auto;
}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
  
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
  
}

