/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  width: 1280px;
  margin-top: 50px;
  margin: auto;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/
.header{
  background-color: #F4F4F4;
  padding: 10px 0px;
  border: 1px solid black;
  border-bottom: none;
  width:0 auto;
  border-top: none;
  border-bottom: none;

}

.header1{
  background-color: #F4F4F4;
  display: flex;
  justify-content: center; 
  align-items: center;   
  
}
.headerWhite{ 
  width: 1140px; height: 60px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}


.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
}

.header-right{ 
  padding-right: 70px;
  padding-top: 5px;
}

.header-right > button{
  background-color: white;
  border: 0px;
  cursor: pointer;
}
.hide::before{
  display: block;
  position: absolute;
  background-position-x :-203px;
  background-position-y :-301px;
  background-size :468px 457px;
  content:"";
  background-image: url("../공용img/icon.png");
  top: -13px;
  width: 23px;
  height: 13px;
  box-shadow: 0;
}
.hide{
  display: none;
  width: 160px;
  position: absolute;
  background-color: white;
  padding : 25px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px;
}
.hide-none{ display: block;}

.hide > a > li{
  font-size: 20px;
  padding: 5px 0px;
}

/*---------------------------------메인-----------------------------*/
.main{
 background-color: #F4F4F4;
 height: 100vh;  /*01.23.높이 수정*/          
 border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-top: none;
}

.main-center{ 
  width: 90%;
  background-color: white;
  margin: 50px auto;
  height: 90%;           
  border-radius: 15px;
  display: flex; 
  justify-content: center;
  align-items: center; 
}
.box1 > div { 
  width: 500px;
  display: grid;
  grid-template-columns: 120px 250px auto;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;        /* 0123 추가 */
  
}
.box1 > div > input{   /* 0123 이 코드 전체 생성*/
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;                          
  border: 1px solid gray;               
  
}

.box1 > button{ 
  font-size: 20px;
  padding: 10px;
  margin-left: 200px; 
}


/*---------------------------------푸터-----------------------------*/
.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  width: 0 auto;
                                          /* 01.23. border 전체 삭제 */
}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
  
}