/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  width: 1280px;
  margin-top: 50px;
  margin: auto;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/
.header{
  background-color: #F4F4F4;
  padding: 10px 0px;
  border: 1px solid black;
  border-bottom: none;
  width:0 auto;
  border-top: none;
  border-bottom: none;

}

.header1{
  background-color: #F4F4F4;
  display: flex;
  justify-content: center; 
  align-items: center;   
  
}
.headerWhite{ 
  width: 1140px; height: 60px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  

}


.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
}

.header-right{ /*상단 우측 메뉴탭 여백*/
  padding-right: 70px;
  padding-top: 5px;
}
/*---------------------------------메인-----------------------------*/
.main{
 background-color: #F4F4F4;
 height: 600px;             /*높이 알아서*/
 border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-top: none;
}

.main-center{ /*흰 박스*/
  width: 90%;
  background-color: white;
  margin: 50px auto;
  height: 90%;           
  border-radius: 15px;
  display: flex; /* flex-column 삭제*/
  justify-content: center;
  align-items: center; /*0122 수정 - 가로가운데*/
  /*0122 수정 - padding-left 제거*/
}
.box1 > div { /* id~ 편의점tel */
  width: 500px;
  display: grid;
  grid-template-columns: 120px 250px auto;
  gap: 10px;
  margin-bottom: 10px;
}

.box1 > button{ 
  font-size: 20px;
  padding: 10px;
  margin-left: 200px; /* 0122 수정 버튼 가운데로*/
}


/*---------------------------------푸터-----------------------------*/
.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  border: 1px solid black;
  border-top: none;
  width: 0 auto;
}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
  
}