/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  width: 1280px;
  margin-top: 50px;
  margin: auto;
  position: relative;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/
.header{
  background-color: #F4F4F4;
  padding: 0px;
  border-left: 1px solid black; border-right: 1px solid black;
 
}

.header1{
  background-color: #F4F4F4;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-top: 25px;  

}
.headerWhite{ 
  width: 1140px; height: 60px;
  background-color: white;
  /*margin: 10px 0px;*/
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
}

.header-right{ 
  padding-right: 70px;
  padding-top: 5px;
}
/*---------------------------------메인-----------------------------*/
.main{ 
 background-color: #F4F4F4;
 height: 100vh;                           /*01.23.높이 수정*/  
 border-left: 1px solid black; 
 border-right: 1px solid black;
 padding-top: 25px;
}

.box1{                                   /*0123 박스 전체 추가*/
  display: flex;
  flex-direction: column;   
  align-items: center;  
}
.box1 > h3{
  text-align: center;
  padding-top: 140px; padding-bottom: 80px;
  font-size: 30px;
}

.main-center{ width: 90%;
  background-color: white;
  text-align: center;
  margin: 0px auto;
  height: 90%;           
  border-radius: 15px;
 }

.ListIdBox > input, .ListPwdBox > input{   /* 0123 이 코드 전체 생성*/
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;                          /* 0123 수정*/
  border: 1px solid gray;               /* 0123 수정*/
  
}
.ListIdBox, .ListPwdBox{            
  display: grid;
  grid-template-columns: 120px 250px auto;
  gap: 20px;
  padding: 20px;                          /*0123 추가*/
  margin-right: 120px;                    /*0123 추가*/
}
 .box1 >button{
  padding: 10px;
  margin: 20px;                        /* 0123 추가 */
}
.box1 > ul{ 
  display: flex;
  justify-content: center;
  padding: 70px;
}
/*---------------------------------푸터-----------------------------*/
.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;                           /* 0123 보더 삭제*/
  width: 0 auto;
}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
  
}
