/*---------------------------기본값 설정-----------------------------*/
*{
  font-size: 16px;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  
}

li{
  list-style-type : none;
  font-size: 12px;
}

a{ 
  text-decoration: none; 
  color: black;
  font-size: 12px;
}

.wrap{
  width: 1280px;
  margin-top: 50px;
  margin: auto;
}

img{
  width: 50px;
}

span{
  padding: 0px 10px;
  font-size: 12px;
}
/*--------------------------------헤더-----------------------------*/

.header{
  margin-top: 50px;
  background-color: #F4F4F4;
  padding: 10px 0px;
  border: 1px solid black;
  
}

.header1{
  
  display: flex;
  justify-content: space-between;
  background-color: white;
  
}

.title{
  font-size: 30px;
  padding-top: 5px;
}

.header-left{
  padding-left: 70px;
}

.haeder-right{
  padding-right: 70px;
  padding-top: 5px;
}
/*---------------------------------메인-----------------------------*/
.main{
 background-color: #F4F4F4;
 height: 100vh;               /*높이 알아서*/
 border: 1px solid black;
}

.main-center{
  width: 90%;
  background-color: white;
  margin: 20px auto;
  height: 90%;           
  border-radius: 15px;
}
/*---------------------------------푸터-----------------------------*/

.footer{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  border: 1px solid black;
  
}

.footer-left > ul {
  text-align: right;
  padding-right: 50px;
  
}

.footer-right > ul {
  text-align: left;
  padding-left: 50px;
}

